extends layout.pug

block button 
    .menuButton
block intro
    .intro
        #introImg
block notice
    .noticeContainer
        .contentImg
        .contentBox
            h2 Notice
            ul
block writing
    .writingContainer
        .contentImg
        .contentBox
            h2 Writing
            ul
block picture
    .pictureContainer
        .contentImg
        .contentBox
            h2 Piture
            ul