extends layout.pug

block button 
    .menuButton
    .menu
block snsToggle
    .snsToggle
        .itemList
            a(class='instagram snsButton' href='https://www.instagram.com')
            a(class='youtube snsButton' href='https://www.youtube.com')
            a(class='twitter snsButton' href='https://www.twitter.com')
            a(class='facebook snsButton' href='https://www.facebook.com')
block intro
    .intro
        #introImg
block notice
    .noticeContainer
        .contentImg
        .contentBox
            h2 Notice
            ul
block writing
    .writingContainer
        .contentImg
        .contentBox
            h2 Writing
            ul
block picture
    .pictureContainer
        .contentImg
        .contentBox
            h2 Piture
            ul