doctype html
html
    head
        meta(charset='utf-8')
        title canoe Blog
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        link(rel='stylesheet', href='/stylesheets/readStyle.css')
    body
        #accessory
        #wrapper
            block button
            block header
            block mainContents
            block recommenArticle
            