.container {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: center;
  margin: 15rem 20rem; }

.contentBox {
  display: flex;
  flex-direction: column;
  flex: auto;
  margin-left: 2rem; }
  .contentBox h2 {
    font-size: 40pt;
    color: #58859c;
    flex: auto;
    margin-bottom: 3rem; }
  .contentBox ul {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 10rem;
    white-space: nowrap;
    overflow-y: scroll; }
    .contentBox ul::-webkit-scrollbar {
      display: none; }
    .contentBox ul li {
      padding: 0.5rem;
      display: flex;
      flex: auto; }

.contentImg {
  flex: none;
  width: 7rem;
  height: 7rem;
  margin: auto 0;
  margin-right: 3rem;
  background-repeat: no-repeat; }
