.noticeContainer {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: center;
  width: calc(100% - 15rem);
  margin: 8rem auto 0; }

.noticeContainer > .contentBox a {
  text-decoration: none;
  color: #494949; }

.noticeContainer > .contentBox ul li {
  font-size: 18pt;
  background-color: #f7f7f7; }
  .noticeContainer > .contentBox ul li:first-child {
    background-color: #58859c; }
  .noticeContainer > .contentBox ul li:first-child > a::before {
    background-image: url("/images/loudSpeakerWhite.svg"); }
  .noticeContainer > .contentBox ul li span {
    margin-left: auto;
    color: #494949; }
  .noticeContainer > .contentBox ul li a::before {
    content: "";
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 1rem;
    background-image: url("/images/loudSpeaker.svg"); }
