#picture > .contentBox ul {
  width: 49.6rem;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll; }
  #picture > .contentBox ul li {
    display: flex;
    padding: 0rem 0.5rem; }

.picture {
  flex: auto;
  height: 8.5rem;
  width: auto; }
