.snsToggle {
  background-image: url("/images/snsToggle.svg");
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  position: relative;
  margin-left: auto;
  top: -9.375rem;
  left: -10.625rem; }

.snsitemList {
  background-image: url("/images/speechBubble.svg");
  position: relative;
  display: none;
  width: 20.531rem;
  height: 4.125rem;
  z-index: 1;
  left: 2rem;
  top: -1rem;
  flex-direction: row;
  align-items: center; }

.itemList.is-active {
  display: flex; }

.instagram {
  height: 2.565rem;
  background-image: url("/images/instagramIcon.svg"); }

.youtube {
  height: 1.764rem;
  background-image: url("/images/youtubeIcon.svg"); }

.twitter {
  height: 2.084rem;
  background-image: url("/images/twitterIcon.svg"); }

.facebook {
  height: 2.084rem;
  width: 1.456rem;
  background-image: url("/images/facebookIcon.svg"); }

.snsButton {
  margin-left: auto;
  width: 2.565rem;
  display: inline-block;
  background-repeat: no-repeat; }
