html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

mark {
  background-color: transparent;
  color: inherit; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none; }

#wrapper {
  display: flex;
  flex-direction: column;
  border-color: #c1a68b;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
  border-top-width: 3rem;
  border-right-width: 1.5rem;
  border-left-width: 1.5rem;
  border-style: solid;
  background-color: #ffffff;
  padding: 3rem 3rem 0;
  margin: 0 8rem 0; }

header h1 {
  font-size: 4.375em;
  text-align: center;
  margin: 6.5rem auto; }
  header h1::before, header h1::after {
    content: "";
    display: block;
    width: calc(100% - 10rem);
    margin: 0 auto;
    border-top: double 5px;
    border-top-color: #494949; }
  header h1::before {
    margin-bottom: 3.125rem; }
  header h1::after {
    margin-top: 3.125rem; }

footer {
  height: 15rem;
  background-color: #003333;
  margin: 5rem -3rem 0; }

.noticeContainer {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: center;
  width: calc(100% - 15rem);
  margin: 8rem auto 0; }

.noticeContainer > .contentBox a {
  text-decoration: none;
  color: #494949; }

.noticeContainer > .contentBox ul li {
  font-size: 18pt;
  background-color: #f7f7f7; }
  .noticeContainer > .contentBox ul li:first-child {
    background-color: #58859c; }
  .noticeContainer > .contentBox ul li:first-child > a::before {
    background-image: url("/images/loudSpeakerWhite.svg"); }
  .noticeContainer > .contentBox ul li span {
    margin-left: auto;
    color: #494949; }
  .noticeContainer > .contentBox ul li a::before {
    content: "";
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 1rem;
    background-image: url("/images/loudSpeaker.svg"); }

.intro {
  flex: auto; }

#introImg {
  flex: auto;
  float: right;
  width: 13.125rem;
  height: 18.75rem;
  margin: 2rem;
  background-image: url("/images/mainImg.svg"); }

.writingContainer {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: center;
  width: calc(100% - 15rem);
  margin: 8rem auto 0; }

.blockContentImg {
  flex: auto;
  float: left;
  width: 10rem;
  height: 10rem;
  margin: 0 2rem; }

.writingContainer > .contentBox > ul > li {
  display: flex;
  flex: auto;
  flex-direction: column;
  border: 2px solid #999999;
  border-radius: 10px;
  margin: 2rem 0; }
  .writingContainer > .contentBox > ul > li h3 {
    margin: 1rem 2rem 0.3rem;
    font-size: 18pt; }

.writingContainer > .contentBox ul {
  height: 30rem; }

.headCopy {
  display: flex;
  flex-direction: column; }
  .headCopy::after {
    content: "";
    display: block;
    width: calc(100% - 2rem);
    margin: 0.5rem auto;
    border-top: solid 2px;
    border-top-color: #999999; }

.contentBody {
  margin: 1rem 0; }

.imfomation {
  margin-left: auto;
  text-align: center;
  margin-right: 1rem; }

.star::before {
  content: "";
  background-image: url("/images/starIcon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 1rem;
  height: 0.8rem;
  margin: auto; }

.view::before {
  content: "";
  background-image: url("/images/viewIcon.svg");
  display: inline-block;
  background-repeat: no-repeat;
  width: 1rem;
  height: 0.5rem;
  margin: auto; }

.blocDate {
  margin-left: auto;
  margin-right: 1rem;
  margin-bottom: 1.5rem; }

.contentBox {
  display: flex;
  flex-direction: column;
  flex: auto;
  margin-left: 2rem; }
  .contentBox h2 {
    font-size: 40pt;
    color: #58859c;
    flex: auto;
    margin-bottom: 1rem; }
  .contentBox ul {
    display: block;
    height: 10rem;
    white-space: nowrap;
    overflow-y: scroll; }
    .contentBox ul::-webkit-scrollbar {
      display: none; }
    .contentBox ul li {
      padding: 0.5rem;
      display: flex;
      flex-direction: row; }

.contentImg {
  flex: none;
  width: 4rem;
  height: 4rem;
  margin: auto 0;
  background-repeat: no-repeat; }

.menuButton {
  position: relative;
  top: 0.5rem;
  left: 0.5rem;
  width: 2.8rem;
  height: 1.8rem;
  background-image: url("/images/menuButton.svg");
  border: none; }

.menu {
  position: fixed;
  display: none;
  width: 20rem;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 10px 2px 10px #494949;
  z-index: 2; }

.menu.is-active {
  display: block; }
