header{
    &h1{
        -webkit-font-smoothing: antialiased;
text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
font-family: "HelveticaNeue",Helvetica,Arial,sans-serif;
text-rendering: optimizeLegibility;
box-sizing: border-box;
padding: 0;
margin: 0;
font-size: 3.21429em;
color: #1b1b1b;
margin-right: 55px;
display: inline-block;
letter-spacing: -0.04em;
    }
    &h2{
        -webkit-font-smoothing: antialiased;
text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
font-family: "HelveticaNeue",Helvetica,Arial,sans-serif;
text-rendering: optimizeLegibility;
box-sizing: border-box;
padding: 0;
margin: 0;
font-size: 1.57143em;
font-weight: 400;
color: #999999;
display: inline-block;
letter-spacing: -0.04em;
    }
}

#card{
    background-image: url("assets\image\15.jpg");
}