header {
  h1 {
    font-size: 4.375em;
    text-align: center;
    margin: 6.5rem auto;

    &::before,
    &::after {
      content: "";

      display: block;
      width: calc(100% - 10rem);

      margin: 0 auto;
      border-top: double 5px;
      border-top-color: #494949;
    }

    &::before {
      margin-bottom: 3.125rem;
    }
    &::after {
      margin-top: 3.125rem;
    }
  }
}
