.noticeContainer {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: center;

  width: calc(100% - 60rem);
  margin: 8rem auto 0;
}

.noticeContainer > .contentBox {
  a {
    text-decoration: none;
    color: #494949;
  }
  ul {
    li {
      font-size: 18pt;

      background-color: #f7f7f7;
      &:first-child {
        background-color: #58859c;
      }
      &:first-child > a::before {
        background-image: url("/images/loudSpeakerWhite.svg");
      }
      span {
        margin-left: auto;
        color: #494949;
      }
      a::before {
        content: "";

        display: inline-block;

        width: 1.25rem;
        height: 1.25rem;
        margin-right: 1rem;

        background-image: url("/images/loudSpeaker.svg");
      }
    }
  }
}
