#wrapper {
  display: flex;

  flex-direction: column;

  border: {
    color: #c1a68b;
    top-right-radius: 3rem;
    top-left-radius: 3rem;
    top-width: 3rem;
    right-width: 1.5rem;
    left-width: 1.5rem;
    style: solid;
  }

  background-color: #ffffff;

  padding: 3rem 3rem 0;
  margin: 0 8rem 0;
}
